body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: white;
    opacity: 0.95;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
}

.radios{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 10px 100px;
}

#codificacao{
    font-size: 30px;
}
#mensagemOculta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

label{
    padding: 10px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

